html,body {background:#fff;}
a {text-decoration:none;}
/* ADA */
.sr-only {
    display:none
}
.container {max-width:100%}
/* Header */
.header-logo-container {margin-top:20px;}
header.experiencefragment  {border:none}
header.experiencefragment .cmp-container {display:block}
.header-util-nav .coe-cta-button.icon {margin-top:-15px; padding-right:10px;padding-bottom:10px}
#coe-header-nav ul {text-align:right;}
#coe-header-nav li {display:inline-flex;white-space:nowrap;padding:15px 20px}
header.experiencefragment a:hover {text-decoration:none}
.header-nav-cta a:hover {color:#fff !important}

/* footer - social icons*/
footer.experiencefragment {border-top:solid 3px #ccc;}
.footer-social-icons ul {float:right;padding-right:15px;margin-top:10px}
.footer-social-icons li {float:left;list-style:none;padding-right:20px}
.footer-social-icons .avia_hidden_link_text {font-size:0px;width:15px;height:15px;background;display:block;background-size:contain;background-repeat:no-repeat;padding-left:15px}
 .av-social-link-linkedin span {background:url(/content/dam/coe/global-assets/linkedin-social.png);}
 .av-social-link-twitter span {background:url(/content/dam/coe/global-assets/twitter-social.png);}
 .av-social-link-youtube span {background:url(/content/dam/coe/global-assets/youtube-social.png);}
 .av-social-link-facebook span {background:url(/content/dam/coe/global-assets/fb-social.png);}
 .av-social-link-instagram span {background:url(/content/dam/coe/global-assets/insta-icon.png);}
 .av-social-link-mail span {background:url(/content/dam/coe/global-assets/email-social.png);}
.footer-copyright-box {padding:15px 10px 0;margin-top:10px}
#footer-links {float:right;}
#footer-links li {list-style: none;
    padding-left: 15px;
    float: left;
    border-right: solid 1px #000;
    padding: 0 10px;
	line-height: 22px;
}
#footer-links li:last-child {border:none;}

#footer-links li a, #footer-links li a:hover, #footer-links li a:visited {color:#000;text-decoration:none;}
/* COE CTA */
/* for cta button type */
.coe-cta-button.button a{ 
    background:#00008c;
    color: #fff;
}
/* CTA button icon type */
.coe-cta-button.icon a {
    line-height:0px;
    font-size:0px;
    color:transparent;
}
.coe-cta-button.icon .right-arrow {
    background-image: url(/content/dam/coe/global-assets/right-arrow.png);
}

.coe-cta-button span.right-arrow{
	background-image: url(/content/dam/coe/global-assets/right-arrow.png);
    }
    .coe-cta-button.icon .search-icon {
      background-image: url(/content/dam/coe/global-assets/search.png);
  }

/* Works on Firefox */
.cmp-container *{
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
.cmp-container *::-webkit-scrollbar {
  width: 12px;
}

.cmp-container *::-webkit-scrollbar-track {
  background: orange;border-radius:20px
}

.cmp-container *::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
}

.carousel-slide-container img {width:100%;height:auto;}

/* adobe cloud container */
.adobe-cloud-container .intro-card-heading {text-align:center;margin:40px;}
.adobe-cloud-container .intro-card-heading h2 {font-size:2.6rem;color:#09138C;}

.adobe-cloud-container {margin-bottom:25px;}
.coe__intro_card_card-content{
    min-height: 250px;
}
/* home page Tab */
.offerings-container .titleComponent h2 {text-align:center;margin:40px;font-size:2.6rem}
.coe-tabs-hp {background:#1DBAEE}
.coe-tabs-hp ul li {width:20%;margin-right:5%;padding-left:10px;}
.coe-tabs-hp ul li:first-child {padding-left:0px;}
.coe-tabs-hp ul.tabs {border-bottom: solid 2px #fff;}
.coe-tabs-hp .nav-link {background:unset;color:#fff;border:none;padding:.5rem 0;}
.coe-tabs-hp .nav-link.active {font-weight:bold;color:#fff;border-bottom:solid 3px #fff;background:unset;}
.coe-tabs-hp .coe__tab_heading {display:none;}
.coe-tabs-hp .teaser {padding:0 10px;}
.coe-tabs-hp .teaser:first-child {padding:0px 10px 0 0; }
.coe-tabs-hp .teaser:last-child {padding:0px 0px 0 10px; }
.coe-tabs-hp h3.cmp-teaser__title {
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 10px;
}
.coe-tabs-hp a.cmp-teaser__title-link,.coe-tabs-hp a.cmp-teaser__title-link:hover  {color:#fff;text-decoration:none;}
/* case study container */
.case-study-container .case-study-title-container {text-align:center;margin:40px;}
.case-study-container .case-study-title-container h2 {font-size:2.6rem;color:#09138C;}

.case-study-container {margin-bottom:25px;}
.case-study {padding:5px;}
.case-study-container .case_study_title {white-space:unset;}
.case-study-container .case_study_summary {padding:0px;}

/* Tools page navigation */
.tools-left-navigation .navigation {border-right:solid 1px #d8d8d8;}
.tools-left-navigation ul li {list-style:none;}
.tools-left-navigation ul li a {text-decoration:none; color:#000;line-height:35px;}
.tools-left-navigation .cmp-navigation__item--level-0 > a {position:relative;display:block;}
.tools-left-navigation .nav_collapsed:after {
                content: "\F078";position:absolute;right:10px;top:10px;font:normal normal normal 14px/1 FontAwesome
        }
.tools-left-navigation .nav_expanded:after {
                content: "\F078";position:absolute;right:10px;top:10px;font:normal normal normal 14px/1 FontAwesome;transform:rotate(180deg);transform-origin: 50% 50%;
        }