.coe__intro_card_card-header{
     font-size:1.4rem;
}

.coe__intro_card_card-summary {margin:20px 0}
 .coe__intro_card_card-btn{
     text-decoration: none;
     text-align: center;
     padding: 10px;
     color: #F8F8F8;
     background-color:#09138C;
     margin: auto;
}
 .coe__intro_card_card-btn:hover{
     color: #F8F8F8;
}
 .coe__intro_card_card-content{
    
     width: 100%;
     text-align: center;
     padding:10px;
}
