.toggler-cta .down-arrow {

    width: 30px;

    height: 30px;

    background-image: url(/content/dam/coe/global-assets/right-arrow.png);

    background-size: contain;

    transform: rotate(90deg);

    margin:auto;

}



.toggler-cta .up-arrow {

    display:none;

    width: 30px;

    height: 30px;

    background-image: url(/content/dam/coe/global-assets/right-arrow.png);

    background-size: contain;

    transform: rotate(270deg);

                margin:auto;

}

.coe-toggler {background:blue;border-radius:10px;position:relative;color:#fff;width:300px;z-index:9999}

.toggler-contents {padding:20px;}

.toggler-details {display:none;overflow:auto;height:300px;}

.toggler-cta {

    text-align: center;

    position: absolute;

    width: 100%;

    bottom: 0;

    margin-bottom: -15px;

    }       

.author-container {border:solid 1px red;}