.pcc__table_wrapper {width:100%;}
.pcc__table_wrapper tbody, .pcc__table_wrapper tr, .pcc__table_wrapper td {border:solid 1px #ccc;}
.pcc__table_wrapper td {width:30%; text-align:left;vertical-align:top;padding:5px}
.pcc__table_wrapper td:first-child {width:10%;text-align:center;vertical-align:middle}
tr.grayBackground  {background:#dcdcdc;}
tr.pcc__product_header td {text-align:Center;}